body {
	font-size: large;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	background-color: #F7E6CB;
	float: center;
	text-align: center;
}

#instructions {
	font-size: .7em;
	color: #8F8F8F;
	float: center;
	text-align: center;
}

#typefield {
	float: center;
	text-align: left;
}

#quote {
	display: inline-block;
	font-family: Helvetica, sans-serif;
	width: 700px;
	float: center;
	text-align: left;
}