body {
	font-size: large;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	background-color: #F7E6CB;
	float: center;
	text-align: center;
}

#instructions {
	font-size: .7em;
	color: #8F8F8F;
	float: center;
	text-align: center;
	margin: 10px;
}

#typefield {
	float: center;
	text-align: left;
	margin: 10px;
}

#quote {
	display: inline-block;
	font-family: Helvetica, sans-serif;
	width: 700px;
	float: center;
	text-align: left;
	margin: 50px 0 20px 0;
}

#timer {
	margin: 5px;
}

#stats {
	position: absolute;
	top: 100px;
  left:50%;
  margin-left:-250px;
	display: none;
	background-color: #C5EBDD;
	width: 500px;
	box-shadow: 3px 3px 3px #888888;
}

#stats li {
	font-size: .7em;
	list-style: none;
}